# AI models API
GOOGLE_API_KEY=your_ai_api_key_is_here

# Authentication
GOOGLE_CLIENT_ID=your_client_oauth_id_here
GOOGLE_CLIENT_SECRET=your_client_oauth_secret_here
GITHUB_CLIENT_ID=your_client_oauth_id_here
GITHUB_CLIENT_SECRET=your_client_oauth_secret_here

# Secret random variables
PROD_SECRET_KEY=some_randome_long_hash_value
